<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#4374A5" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="This is an example of a React SPA description. This will often show up in search results."
    />
    <!-- 根据 webpack 配置来决定应用是否可以被搜索引擎检索。更多信息请查阅：https://developers.google.cn/search/reference/robots_meta_tag?hl=zh-cn -->
    <% if (htmlWebpackPlugin.options.IS_SEO_ENABLED) { %>
    <meta name="robots" content="index, follow" />
    <% } else { %>
    <meta name="robots" content="noindex, nofollow" />
    <% } %>

    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="manifest" href="./manifest.json" />
  </head>

  <body>
    <noscript>
      您浏览器当前禁用了 JavaScript 脚本，为保证页面显示正常，请启用 JavaScript
    </noscript>
    <div id="root"></div>
  </body>
</html>
